.button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-size: 1.6rem;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 3.8rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $color-primary;
    color: #fff;
    border-radius: 6px;
    transition: .3s ease;
    text-decoration: none;
    line-height: 1.6rem;

    &:hover {
      background-color: lighten($color-primary, 10%);
    }

    &:disabled {
      cursor: default;
    }

    &--large {
      padding-left: 3.4rem;
      padding-right: 3.4rem;
      height: 5rem;
    }

    &--sec {
      color: lighten($color-gray-dark, 20%);
      background-color: lighten($color-gray-dark, 70%);

      &:hover {
        background-color: lighten($color-gray-dark, 74%);
      }
    }
}
