@import '../../styles/main';

.radio-group {
  &__set {
    height: 10rem;
    border: none;
  }

  &__legend {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  &__items {
    display: flex;
    flex-direction: row;


    & > * {
      &:not(:first-child) {
        margin-left: 4rem;
      }
    }
  }

}

.radio-button {
  font-size: 1.6rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__btn {
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid $color-gray;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;

    &:hover {
      border: 1px solid $color-primary;
    }

    &::after {
      content: "";
      display: block;
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-gray-dark;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__input {
    // not using the display none because of the keyboard form focus
    opacity: 0;
    z-index: -999;
  }

  &__label {
    padding-left: 2rem;
    cursor: pointer;
  }

  &__input:checked ~ &__label &__btn::after {
    opacity: 1;
  }

  &__input:checked ~ &__label &__btn {
    border: 1px solid $color-primary;
  }

  &__label:hover > &__btn {
    border: 1px solid $color-primary;
  }

  &__input:focus ~ &__label &__btn {
    box-shadow: 0 1rem 2rem rgba(black, .1);
    border: 1px solid $color-primary;
  }

}
