@import '../../styles/main';

.checkbox-group {
  &__set {
    height: 10rem;
    border: none;
  }

  &__legend {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;

  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    & > * {
      &:not(:last-child) {
        margin-right: 1.6rem;
      }
    }
  }

}

.checkbox {
  font-size: 1.4rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 6px 0;

  &__btn {
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid $color-gray;
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;

    &:hover {
      border: 1px solid $color-primary;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 7px;
      height: 12px;
      border: solid $color-gray-dark;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      left: .8rem;
      bottom: .6rem;
    }
  }

  &__input {
    // not using the display none because of the keyboard form focus
    opacity: 0;
    z-index: -999;
  }

  &__label {
    padding-left: 2rem;
    min-width: 4.4rem;
    cursor: pointer;
  }

  &__input:checked ~ &__label &__btn::after {
    opacity: 1;
  }

  &__input:checked ~ &__label &__btn {
    border: 1px solid $color-primary;
  }

  &__label:hover > &__btn {
    border: 1px solid $color-primary;
  }

  &__input:focus ~ &__label &__btn {
    box-shadow: 0 1rem 2rem rgba(black, .1);
    border: 1px solid $color-primary;
  }

}
