@import '../../styles/main';

.breadcrumbs {
  font-size: 1.6rem;
  &__ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: $color-gray-light;
    padding: 1.8rem 4rem;

    & > li {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

}
