// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans')
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap')

body
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight: 400
    line-height: normal
